<h1>Log a New Quest</h1>

<%= form_for @quest do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :unicorn_id %>
	<%= f.number_field :unicorn_id %>
	<%= f.label :leprechaun_id %>
	<%= f.number_field :leprechaun_id %>
	<%= f.submit %>
<% end %>